Package: cockphisher
Version: 2.2
Installed-Size: 9400
Architecture: all
Maintainer: @croco
Depends: php, wget, git, curl
Homepage: https://st4yhigh3c.com/
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
